.mydiv{
    /* border-bottom: 4px dashed blue; */
    border: 3px solid red;
    /* width: 500px;
    height: 500px; */
    padding: 0px;
    /* 
    padding-top
    padding-right
    padding-bottom
    padding-left 
    padding: (top)25px (right)50px (bottom)75px (left)100px;
    */
    margin: 0px;
    /* same as padding */
    /* outline: 10px solid blue; */
    /* border-radius: 10%;
    background-color: aquamarine;
    background-image:url("/images/icons/04.jpg");
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed; */
    /* Text: */
    color: violet;
    text-align: center;
    text-decoration: underline;
    /* Font: */
    font-size: 20px;
    font-family: Audiowide;
    font-weight: bolder;
    font-style: italic;
    
}

.newdiv{
    border: 1px solid black;
    position: relative;
    left: 50px;
}
.newdiv p{
    
}
.newdiv img{
    position: static;
    position: relative;
    position: fixed;
    position: absolute;
    
    position: sticky;
    
    top: 0;
}


#testing{
    /* DISPLAY: */
    display: block;
        /* BLOCK:
            - <div>
            - <h1> - <h6>
            - <p>
            - <form>
            - <header>
            - <footer>
            - <section>
        Inline:
            - <span>
            - <a>
            - <img>
            - none. */
    /* position: */
    /* static      by default
    relative    positioned relative to its normal position
        position: relative;
        left: 30px;
    fixed       even if the page is scrolled
        position: fixed;
        bottom: 0;
        right: 0;
    absolute 
        position: absolute;
        top: 80px;
        right: 0;
    sticky
        position: sticky;
        top: 0;
    */


    /* float: */
    float:right;

    /* text-align: center; */
}





.testing{
    border: 1px solid #000000;
    width: 50%;
    min-width: 500px;
    max-width: 600px;
}